
body {
  font-family: Courier;
  padding: 10px;
  background: white;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
  background: #243665;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding: 10px 0;
}

nav {
	text-align: center;
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 35px;
	
	position: relative;
}

nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

nav a:hover {
	color: #8BD8BD;
}

nav a::before {
	content: "";
	display: block;
	heoght: 5px;
	width:100%;
	background-color: #8BD8BD;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 800px
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  min-width: 600px;
  padding: 5px;
  white-space: nowrap;
  display: inline-block;
}

.caption {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
	colour: #8BD8BD;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
	text-align: center;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #8BD8BD;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}